@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

.box {
  align-items: center;
  background-color: rgba(255, 255, 255,0.95);
  color: rgba(0,0,0,0.8);
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.card-title {
  color: #40beb4;
  font-size: 45px;
  margin: 0;
  width: 70%;
}

.question {
  align-items: center;
  display: flex;
  font-size: 31px;
  height: 20%;
  margin: 1.5vh auto;
  width: 70%;
}

.answers-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contacts {
  color:  rgba(0,0,0,0.8);
  font-size: 22px;
}

@media only screen and (max-width: 1124px) {
  .box {
    width: 80%;
    height: auto;
  }
}